<div class="container-fluid text-center" id="titre">
  <div class="row justify-content-between align-items-center">
    
    <div class="col-md-12 d-flex justify-content-between align-items-center">
      <!-- Titre à gauche -->
      <div class="text-start">
        <h1>Annuaire interne</h1>
        <p>trouver rapidement vos collegue</p>
      </div>
      
      <!-- Bouton à droite -->
      <div>
        <button type="button" class="btn btn-primary" id="btn1">Administrateur</button>
      </div>
    </div>

  </div>
</div>