<!-- Partie pour la recherche par IP, NOM ou PRENOM -->
 <!-- <div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="d-flex gap-2">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" style="height: 50px;">
        <button type="button" class="btn btn-primary" id="btn1" style="height: 50px;">RECHERCHER</button>
      </div>
    </div>
  </div>
</div>
 -->

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="d-flex gap-2">
        <input
          type="text"
          class="form-control"
          placeholder="Nom, prénom ou IP"
          [(ngModel)]="searchTerm"
          (input)="onInputChange()"
          style="height: 50px;"
        />
        <button
          type="button"
          class="btn btn-primary"
          (click)="onInputChange()"
          style="height: 50px;"
        >
          RECHERCHER
        </button>
      </div>
    </div>
  </div>
</div>

