<!-- Importation de l entete -->

<app-entete></app-entete>

<!-- Importation de la barre de recherche -->


<!-- Barre de recherche -->
<app-search [employees]="employeeService.employees" (search)="onSearch($event)"></app-search>

<!-- liste des employes -->

<div class="container-fluid text-center">
  <div class="row row-cols-1 row-cols-md-3 g-4 align-items-stretch">
    <ng-container *ngFor="let emp of employeeService.paginatedEmployees">
      <div class="col d-flex h-100" id="grids">
        <div class="d-flex align-items-center text-start p-3 shadow-sm border rounded w-100 h-100">
          <div class="me-3">
            <span style="font-size: 3em; display: inline-block; transform: translateY(-50px);">👤</span>
          </div>
          <div class="flex-grow-1 w-100">
            <div class="d-flex justify-content-between">
              <strong style="margin-left: -14px;">{{ emp.nom }}</strong><br>
              
            </div>
            <div style="margin-top: -11px;">{{ emp.poste }}</div>
            <div><small>✉️ {{ emp.email }}</small></div>
            <div><small>🏢 {{ emp.direction }}</small></div>
            <div><small>{{ emp.service }}</small></div> <br>
             <small class="text-muted"> IP : {{ emp.idIP }}</small>
            <div><span style="font-size: 1.2em;">📞</span> {{ emp.tel }}</div>
            
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- Pour la pagination  -->

<!-- Pagination -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="employeeService.currentPage === 1">
      <a class="page-link" (click)="prevPage()">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of employeeService.pages" [class.active]="employeeService.currentPage === page">
      <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="employeeService.currentPage === employeeService.totalPages">
      <a class="page-link" (click)="nextPage()">Next</a>
    </li>
  </ul>
</nav>